[Unit]
Description=Price Alert marketplace scan schedule

[Timer]
OnCalendar=*-*-* 10..23:00/15:00
OnCalendar=*-*-* 00..01:00/15:00
Persistent=false
Unit=price-alert-scan.service

[Install]
WantedBy=timers.target
